version: '2'
services:
  rails:
    build:
      context: .
      dockerfile: ./rails/Dockerfile
    command: bundle exec puma -C config/puma.rb 
    ports:
      - '3000:3000'
    volumes:
      - ./rails:/app
      - /var/tmp
      - sockets:/app/tmp/sockets
    tty: true
    depends_on:
      - db
    extends:
      file: ./mysql/password.yml
      service: password
  db:
    build:
      context: .
      dockerfile: ./mysql/Dockerfile
    ports:
      - '3306:3306'
    volumes:
      - db_data:/var/lib/mysql
    extends:  
      file: ./mysql/password.yml
      service: password
  nginx:
    build:
      context: .
      dockerfile: ./nginx/Dockerfile
    ports:
      - '80:80'
    volumes: 
      - sockets:/app/tmp/sockets
    depends_on: 
      - rails

volumes:
  db_data:
  sockets:
